<footer class="page-footer purple">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Project Store</h5>
                <p class="grey-text text-lighten-4">Our goal is to provide projects at lowest cost.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Buy Project at lowest cost</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Project</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Services</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2021 Satyam Seth
            <a class="grey-text text-lighten-4 right" target="_blank" href="/admin">Admin Panel</a>
        </div>
    </div>
</footer>