<nav class="purple">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Project Store</a>

        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>

        <ul class="right hide-on-med-and-down">
            <li class="{{home_active}}"><a href="{% url 'home' %}">Home</a></li>
            <li class="{{projectdetail_active}}"><a href="{% url 'projectdetail_list' %}">Projects</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>


<ul class="sidenav" id="mobile-nav">
    <li class="{{home_active}}"><a href="{% url 'home' %}">Home</a></li>
    <li class="{{projectdetail_active}}"><a href="{% url 'projectdetail_list' %}">Projects</a></li>
    <li><a href="#">Service</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
</ul>